nav{
    background-color: aqua;
    padding: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}
nav a {
  text-decoration: none;
  color: #333;
  justify-content: space-between;
}

nav a:hover{
    color:blue
}